{% extends 'base.html' %}

{% load static %}

{% block navbar %}
<nav class="light-red" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">New Deadline</a>
      <ul class="right">
      	<li><a href="{% url 'home' %}" class="flow-text">Home</a></li>
        <li><a href="{% url 'logout' %}" class="flow-text">Logout</a></li>
      </ul>
    </div>
</nav>
{% endblock %}

{% block content %}
	
	<div class="container">
		<div class="row center-align">
			<br>
			<h4>SELECT COURSE</h4>
		</div>
		<div class="collection valign">
			{% for course in courses %}
				<br>
				<div class="collection-item row">
					<div class="col s12 m6 l6">
						<span class="flow-text"><a href="{% url 'newdeadline' course.code %}">{{ course.code }}</a></span>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}