{% extends 'base.html' %}

{% load static %}

<style type="text/css">
	{% block style %}
	  	html, body {
		height: 100%;
	}
  {% endblock %}
</style>

{% block navbar %}	
{% endblock %}

{% block content %}

<br><br>

<div class="container">
	<div class="card-panel">
	
    		{% if form %}
		    <form method="POST" action="{% url 'newdeadline' course_code %}">
		    {% csrf_token %}   

				<div class="row">
			        <div class="col s12">
			          	<p class="flow-text">New deadline in {{ course_code }}</p>
			        </div>
			    </div>

		    	<div class="row">
			        <div class="input-field col s12">
			          	{{ form.assignment }}
			          	{{ form.assignment.label_tag }}
			          	{% if form.assignment.errors %}
			          		{% for error in form.assignment.errors %}
			          			<div class="red-text">{{ error|escape }}</div>
			          		{% endfor %}
			          	{% endif %}
			        </div>
			    </div>	

			    <div class="row">
			        <div class="input-field col s6">
			        	{{ form.submission_date }}
			          	{{ form.submission_date.label_tag }}
			          	{% if form.submission_date.errors %}
			          		{% for error in form.submission_date.errors %}
			          			<div class="red-text">{{ error|escape }}</div>
			          		{% endfor %}
			          	{% endif %}
			        </div>
			 
			        <div class="input-field col s6">
			        	{{ form.submission_time }}
			          	{{ form.submission_time.label_tag }}
			          	{% if form.submission_time.errors %}
			          		{% for error in form.submission_time.errors %}
			          			<div class="red-text">{{ error|escape }}</div>
			          		{% endfor %}
			          	{% endif %}
			        </div>
			    </div>

			    <div class="row center-align">
		            <div class="input-field col s4 offset-s4">
		            	<input type="submit" name="submit" value="Create deadline" class="btn blue waves-effect waves-light col s12">
		            </div>
		        </div>
		    </form>

		    {% endif %}

			<div class="row center-align">
				<div class="col s4 offset-s4">
					<a href="{% url 'home' %}" class="btn">Go back to Home</a>
				</div>
			</div>		    
		    
	</div>
</div>



{% endblock %}




































