{% extends 'base.html' %}

{% load static %}

<style type="text/css">
  {% block style %}
  	html, body {
  		height: 100%;
  	}
  	html {
  		display: table;
  		margin: auto;
  	}
  	body {
  		display: table-cell;
  		vertical-align: middle;
  		background:url({% static 'img/bg2.jpeg' %}) no-repeat center center fixed;
	    background-size:cover;
  	}

  	.main-center{
	 	margin-top: 30px;
	 	margin: 0 auto;
	 	width: 330px;
  		/*background:url({% static 'img/bg1.png' %}) no-repeat center center fixed;*/
	}
 
  {% endblock %}
</style>

{% block navbar %}	
{% endblock %}

{% block content %}

<div class="">
	<div id="login-page" class="row">
		<div class="card-panel row main-center">
		    <form method="POST" action="">
		    {% csrf_token %}
		    	<div class="row">
			        <div class="input-field col s12">
			          	<input id="username" type="text" class="validate" name="username">
			          	<label for="username">Username</label>
			        </div>
			    </div>	
				
				<!-- <div class="row">
			        <div class="input-field col s12">
			          	<input id="email" type="email" class="validate" name="email">
			          	<label for="email">Email</label>
			        </div>
			    </div> -->		      
		      
			    <div class="row">
			        <div class="input-field col s12">
			        	<input id="password" type="password" class="validate" name="password">
			      	    <label for="password">Password</label>
			        </div>
			    </div>

			    <div class="row">
		            <div class="input-field col s12">
		            	<input type="submit" name="submit" value="Log In" class="btn waves-effect waves-light col s12">
		            </div>
		        </div>
		    </form>

		    <div class="row center-align">
		    	<p class="">New? <a href="#">Sign Up</a> </p>
		    </div>
		</div>
	</div>
</div>

{% endblock %}




































