{% extends 'base.html' %}

{% load static %}

<style type="text/css">
  {% block style %}
  	{% include 'form_style.css' %}
  {% endblock %}
</style>

{% block navbar %}	
{% endblock %}

{% block content %}

{% if not registered %}
	<div class="">
		<div id="login-page" class="row">
			<div class="card-panel row main-center">

				<div class="row center-align">
	    			<p class="red-text">{{ error_msg }}</p>
	    		</div>

			    <form method="POST" action="{% url 'register' %}">
			    {% csrf_token %}
			    	<div class="row">
				        <div class="input-field col s12">
				          	{{ user_form.username }}
				          	{{ user_form.username.label_tag }}
				          	{% if user_form.username.errors %}
				          		{% for error in user_form.username.errors %}
				          			<div class="red-text">{{ error|escape }</div>
				          		{% endfor %}
				          	{% endif %}
				        </div>
				    </div>	
					
					<div class="row">
				        <div class="input-field col s12">
				          	{{ user_form.email }}
				         	{{ user_form.email.label_tag }}
				         	{% if user_form.email.errors %}
				          		{% for error in user_form.email.errors %}
				          			<div class="red-text">{{ error|escape }</div>
				          		{% endfor %}
				          	{% endif %}
				        </div>
				    </div>		      
			      
				    <div class="row">
				        <div class="input-field col s12">
				        	{{ user_form.password }}
				         	{{ user_form.password.label_tag }}
				         	{% if user_form.password.errors %}
				          		{% for error in user_form.password.errors %}
				          			<div class="red-text">{{ error|escape }</div>
				          		{% endfor %}
				          	{% endif %}
				        </div>
				    </div>

				    <div class="row">
			            <div class="input-field col s12">
			            	<input type="submit" name="submit" value="Sign Up" class="btn waves-effect waves-light col s12">
			            </div>
			        </div>
			    </form>

			    <div class="row center-align">
			    	<p class="">Already have an account? <a href="{% url 'login' %}">Log in</a> here</p>
			    </div>
			   
		    	<p class="row center-align">Or Sign in with <a href="{% url 'googlelogin' %}">google</a></p>

			</div>
		</div>
	</div>

{% else %}

	<div class="row">
		<div class="card-panel row main-center">

		    <div class="row center-align">
		    	<p class="flow-text">Logged in as <strong>{{ user }}</strong></p>
		    </div>
		  
		    <div class="row center-align">
		    	<a href="{% url 'home' %}" class="btn waves-effect waves-light blue">Home</a>
		    </div> 

		</div>
	</div>

{% endif %}

{% endblock %}




































